@if (viewMode){
  @if (currentAlumno.id){
    <h4>Alumno</h4>
    <div>
      <label><strong>Nombre:</strong></label> {{ currentAlumno.nombre }}
    </div>
    <div>
      <label><strong>Apellido:</strong></label>
      {{ currentAlumno.apellidos }}
    </div>
    <div>
      <label><strong>Genero:</strong></label>
      {{ getEnumName(currentAlumno.genero) }}
    </div>
    <div>
      <label><strong>Fecha de Nacimiento:</strong></label>
      {{ currentAlumno.fechaNacimiento | date:'yyyy-MM-dd'}}
    </div>

    <a class="btn btn-warning btn-sm" routerLink="/alumnos/{{ currentAlumno.id }}">
      Edit
    </a>
  }
} @else {
@if (currentAlumno.id) {
<div class="edit-form">
  <h4>Alumno</h4>
  <form>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="currentAlumno.nombre" name="nombre" />
    </div>
    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input type="text" class="form-control" id="apellido" [(ngModel)]="currentAlumno.apellidos" name="apellido" />
    </div>
    <div class="form-group">
      <label for="fecha">Fecha de Nacimiento</label>
      <input type="date" class="form-control" id="fecha" [(ngModel)]="currentFechaNacimiento" name="fecha" />
    </div>
    <div class="form-group">
      <label><strong>Genero:</strong></label>
      <div>
        <mat-form-field style="position:absolute;">
          <mat-label>Seleccione</mat-label>
          <mat-select [(value)]="currentAlumno.genero" name="genero">
            <mat-option [value]="Genero.Masculino">Masculino</mat-option>
            <mat-option [value]="Genero.Femenino">Femenino</mat-option>
            <mat-option [value]="Genero.X">X</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div style="margin-top: 80px;">
    <button type="submit" class="btn btn-success" style="margin-right: 10px;" routerLink="/alumnos">
      Home
    </button>
  
    <button class="btn btn-danger" style="margin-right: 10px;" (click)="deleteAlumno()">
      Delete
    </button>
  
    <button type="submit" class="btn btn-success" (click)="updateAlumno()">
      Update
    </button>
  </div>

  <p>{{ message }}</p>
</div>
} @else {<p>Cannot access this Alumno...</p>}
}