<div>
    <div class="submit-form">
      @if (!submitted) {
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          required
          [(ngModel)]="alumno.nombre"
          name="nombre"
        />
      </div>
  
      <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input
          class="form-control"
          id="apellidos"
          required
          [(ngModel)]="alumno.apellidos"
          name="apellidos"
        />
      </div>

      <div class="form-group">
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <input
          class="form-control"
          type="date"
          id="fechaNacimiento"
          required
          [(ngModel)]="alumno.fechaNacimiento"
          name="fechaNacimiento"
        />
      </div>

      <div class="form-group">
        <label for="genero">Genero</label>
        <input
          class="form-control"
          id="genero"
          required
          [(ngModel)]="alumno.genero"
          name="genero"
        />
      </div>
  
      <button (click)="saveAlumno()" class="btn btn-success">Submit</button>
      } @else {
      <h4>Alumno was submitted successfully!</h4>
      <button class="btn btn-success" style="margin-top: 5px;" routerLink="/alumnos" >Home</button>
      <button class="btn btn-success" style="margin-left: 15px; margin-top: 5px;" (click)="newAlumno()">Add</button>
      }
    </div>
  </div>