@if (viewMode){
    @if (currentProfesor.id){
        <h4>Profesor</h4>
        <div>
          <label><strong>Nombre:</strong></label> {{ currentProfesor.nombre }}
        </div>
        <div>
          <label><strong>Apellido:</strong></label>
          {{ currentProfesor.apellidos }}
        </div>
        <div>
          <label><strong>Genero:</strong></label>
          {{ getEnumName(currentProfesor.genero) }}
        </div>
        
        <a class="btn btn-warning btn-sm" routerLink="/profesor/{{currentProfesor.id}}">
        Edit
        </a>
    }
} @else {
    @if (currentProfesor.id) {
    <div class="edit-form">
      <h4>Profesor</h4>
      <form>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" [(ngModel)]="currentProfesor.nombre" name="nombre" />
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" class="form-control" id="apellido" [(ngModel)]="currentProfesor.apellidos" name="apellido" />
        </div>
        <div class="form-group">
          <label>Genero:</label>
          <div  class="form-group">
            <mat-form-field style="position:absolute;">
              <mat-label>Seleccione</mat-label>
              <mat-select [(value)]="currentProfesor.genero">
                <mat-option [value]="Genero.Masculino">Masculino</mat-option>
                <mat-option [value]="Genero.Femenino">Femenino</mat-option>
                <mat-option [value]="Genero.X">X</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        </div>
      </form>
    
      <div style="margin-top: 80px;">
        <button type="submit" class="btn btn-success mb-2" style="margin-right: 10px;" routerLink="/profesores">
          Home
        </button>
      
        <button class="btn btn-danger mb-2" style="margin-right: 10px;" (click)="deleteProfesor()">
          Delete
        </button>
      
        <button type="submit" class="btn btn-success mb-2" (click)="updateProfesor()">
          Update
        </button>
      </div>
      <p>{{ message }}</p>
    </div>
    } @else {<p>Cannot access this Profesor...</p>}
    }